@import '~@jikjoo/moonstone/styles/colors.less';
@import '../../App/App.less';

.video {
    /* width:700px;
    height: 500px;*/
    margin-right: auto;
    margin-left : auto;
    height      : 800px;
    display     : block;

    @media @mobile {
        width        : -webkit-fill-available;
        margin-bottom: auto;
        height       : auto;
    }

    &.remote {
        //object-fit: scale-down;
    }

    &.local {
        display: none;
    }

    &.video-small {
        margin-left: initial;
    }
}

.status {
    position  : absolute;
    bottom    : 50%;
    left      : 0;
    right     : 0;
    text-align: center;
    color     : @moon-darker-gray;

    @media @mobile {
        top   : 10%;
        bottom: auto;
    }
}