
.video {
    /* width:700px;
    height: 500px;*/
    margin-right: auto;
    margin-left : auto;
    height      : 800px;

    video {
        object-fit: scale-down;
    }
    &.video-small {
        margin-left:initial;
    }
}