@import '~@jikjoo/moonstone/styles/colors.less';


.icon {
    vertical-align: middle;
    margin        : auto;

    &.icon-warning {
        color: @moon-video-player-redicon-text-color;
    }
}

.switch>div {
    font-size  : 1rem !important;
    line-height: 1rem !important;
}