@import '~@jikjoo/moonstone/styles/colors.less';

.video {
    /* width:700px;
    height: 500px;*/
    margin-right: auto;
    margin-left : auto;
    height      : 800px;

    video {
        object-fit: scale-down;
    }
    &.video-small {
        margin-left:initial;
    }
}

.icon {
    vertical-align: middle;
    &.icon-warning{
        color : @moon-video-player-redicon-text-color;
    }
}